{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]
 :dependencies
 [[com.cemerick/url "0.1.1"]]
 :builds
 {:script
  {:target :node-script
   :main lemondronor.cooleradar/main
   :output-to "out/script.js"}
  :test
  {:target    :node-test
   :output-to "out/node-tests.js"
   ;;:ns-regexp "-spec$"
   :autorun   true}}}
